div.ForecastSummaries {
    display: flex;
}

div.ForecastSummary {
    width: 200px;
    margin: 5px;
    text-align: center;
    background-color: #ccc;
    padding: 20px;
}

div.ForecastSummary:first-child {
    margin-left: 0;
}

div.ForecastSummary:last-child {
    margin-right: 0;
}

div.ForecastSummary__date {
    font-size: 14px;
}

div.ForecastSummary__temperature {
    font-size: 18px;
}

div.ForecastSummary__description {
    font-size: 18px;
}

img.ForecastSummary__icon {
    width: 90px;
}